In [ ]:
#Se importan las bibliotecas a utilizar
import numpy as np
import pandas as pd

#URL de la base de datos a utilizar
url = "https://raw.githubusercontent.com/Wonga42/Fisica-Computacional-1/main/Actividad%201/EstacionDatos.txt"

df_magdalena = pd.read_csv(url, encoding='latin-1')

print(df_magdalena.head(20))
print(df_magdalena.tail())

                     CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
0                         BASE DE DATOS CLIMATOLOGICA
1   DATOS DISPONIBLES EN LA BASE DE DATOS A MARZO ...
2                                   ESTACION  : 26286
3                            NOMBRE    : MAGDALENA II
4                                  ESTADO    : SONORA
5                               MUNICIPIO : MAGDALENA
6                                SITUACIÓN : OPERANDO
7                             ORGANISMO : CONAGUA-DGE
8                                    CVE-OMM   : Nulo
9                                LATITUD   : 030.615°
10                              LONGITUD  : -110.949°
11                               ALTITUD   : 753 msnm
12                            EMISION   : 06/04/2020
13                         PRECIP  EVAP   TMAX   TMIN
14                FECHA     (MM)   (MM)   (°C)   (°C)
15             01/06/1987  0      8.5    34     12.5
16               02/06/1987  0      10.8   35     17
17               03/06/1987  3.1    9.5    37     21
18               04/06/1987  0      10.3   37     21
19               05/06/1987  0      7.3    36     20
             CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
10481     27/04/2016  0     Nulo    31     8
10482    28/04/2016  0     Nulo    27     10
10483     29/04/2016  0     Nulo    28     8
10484     30/04/2016  0     Nulo    26     9
10485  --------------------------------------

Con esto podemos notar las columnas y como los primero 15 renglones son datos basura

In [ ]:
# Nombramos las columnas del df
columnas = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']

# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se saltará los primeros 19 renglones y el último (skiprows), afirmamos que no nay encabezado (header=None)
# Se procesan los datos utilizando Python, engine='python' 

df_badiraguato = pd.read_csv(url, names=columnas, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

print(df_magdalena.head())
print(df_magdalena.tail())

                    CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
0                        BASE DE DATOS CLIMATOLOGICA
1  DATOS DISPONIBLES EN LA BASE DE DATOS A MARZO ...
2                                  ESTACION  : 26286
3                           NOMBRE    : MAGDALENA II
4                                 ESTADO    : SONORA
             CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
10481     27/04/2016  0     Nulo    31     8
10482    28/04/2016  0     Nulo    27     10
10483     29/04/2016  0     Nulo    28     8
10484     30/04/2016  0     Nulo    26     9
10485  --------------------------------------

In [ ]:
#dimensión de los datos con df.shape
df_badiraguato.shape

#Observamos la información de los datos
df_badiraguato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10470 entries, 0 to 10469
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   10470 non-null  object
 1   Precip  10470 non-null  float64
 2   Evap    10470 non-null  object
 3   Tmax    10470 non-null  object
 4   Tmin    10470 non-null  object
dtypes: float64(1), object(4)
memory usage: 409.1+ KB

In [ ]:
# Copia de seguridad
df_copia=df_badiraguato.copy()
df_copia.head()

        Fecha  Precip  Evap Tmax  Tmin
0  01/06/1987     0.0   8.5   34  12.5
1  02/06/1987     0.0  10.8   35    17
2  03/06/1987     3.1   9.5   37    21
3  04/06/1987     0.0  10.3   37    21
4  05/06/1987     0.0   7.3   36    20

In [ ]:
#Se reemplazan los textos que dicen 'Nulo' por espacios en blanco
str_Nulo = 'Nulo'
df_copia = df_copia.replace(to_replace=str_Nulo, value='', regex=True)
df_copia.head()

        Fecha  Precip  Evap Tmax  Tmin
0  01/06/1987     0.0   8.5   34  12.5
1  02/06/1987     0.0  10.8   35    17
2  03/06/1987     3.1   9.5   37    21
3  04/06/1987     0.0  10.3   37    21
4  05/06/1987     0.0   7.3   36    20

In [ ]:
#Imprimimos la informacion actualizada
df_copia.info()
print(df_copia.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10470 entries, 0 to 10469
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   10470 non-null  object
 1   Precip  10470 non-null  float64
 2   Evap    10470 non-null  object
 3   Tmax    10470 non-null  object
 4   Tmin    10470 non-null  object
dtypes: float64(1), object(4)
memory usage: 409.1+ KB
        Fecha  Precip  Evap Tmax  Tmin
0  01/06/1987     0.0   8.5   34  12.5
1  02/06/1987     0.0  10.8   35    17
2  03/06/1987     3.1   9.5   37    21
3  04/06/1987     0.0  10.3   37    21
4  05/06/1987     0.0   7.3   36    20

In [ ]:
#Convertirmos los datos a valores numericos para poder trabajar con ellos
columnas = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in columnas:
  df_copia[cols] = pd.to_numeric(df_copia[cols], errors="coerce")

df_copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10470 entries, 0 to 10469
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   10470 non-null  object
 1   Precip  10470 non-null  float64
 2   Evap    209 non-null    float64
 3   Tmax    10365 non-null  float64
 4   Tmin    10381 non-null  float64
dtypes: float64(4), object(1)
memory usage: 409.1+ KB

In [ ]:
#Observamos los datos que faltan
df_copia.isnull().sum()

Fecha         0
Precip        0
Evap      10261
Tmax        105
Tmin         89
dtype: int64

In [ ]:
#Se imprimen los primeros 5 renglones de la copia.
print(df_copia.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/06/1987     0.0   8.5  34.0  12.5
1  02/06/1987     0.0  10.8  35.0  17.0
2  03/06/1987     3.1   9.5  37.0  21.0
3  04/06/1987     0.0  10.3  37.0  21.0
4  05/06/1987     0.0   7.3  36.0  20.0

In [ ]:
#Se hace un análisis estadístico con redondeo a 2 cifras
df_copia.describe().round(2)

         Precip    Evap      Tmax      Tmin
count  10470.00  209.00  10365.00  10381.00
mean       1.22    6.23     30.72     12.31
std        5.41    3.32      7.89      7.55
min        0.00    0.50      3.00     -7.00
25%        0.00    3.70     24.50      6.00
50%        0.00    5.70     32.00     11.50
75%        0.00    8.30     37.00     19.00
max      115.00   14.40     48.50     36.00

In [ ]:
#Nueva copia de seguridad
df_copiaseguridad = df_copia.copy()
df_copiaseguridad

            Fecha  Precip  Evap  Tmax  Tmin
0      01/06/1987     0.0   8.5  34.0  12.5
1      02/06/1987     0.0  10.8  35.0  17.0
2      03/06/1987     3.1   9.5  37.0  21.0
3      04/06/1987     0.0  10.3  37.0  21.0
4      05/06/1987     0.0   7.3  36.0  20.0
...           ...     ...   ...   ...   ...
10465  26/04/2016     0.0   NaN   NaN   9.0
10466  27/04/2016     0.0   NaN  31.0   8.0
10467  28/04/2016     0.0   NaN  27.0  10.0
10468  29/04/2016     0.0   NaN  28.0   8.0
10469  30/04/2016     0.0   NaN  26.0   9.0

[10470 rows x 5 columns]

In [ ]:
#Se invierte el formato de la fecha
df_copiaseguridad["Fecha"] = pd.to_datetime(df_copiaseguridad["Fecha"], dayfirst=True ).copy()
print(df_copiaseguridad.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1987-06-01     0.0   8.5  34.0  12.5
1 1987-06-02     0.0  10.8  35.0  17.0
2 1987-06-03     3.1   9.5  37.0  21.0
3 1987-06-04     0.0  10.3  37.0  21.0
4 1987-06-05     0.0   7.3  36.0  20.0

In [ ]:
#Añadimos las columnas de año y mes ademas de la de fecha
df_copiaseguridad["Año"] = df_copiaseguridad["Fecha"].dt.year
df_copiaseguridad["Mes"] = df_copiaseguridad["Fecha"].dt.month
df_copiaseguridad

           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0     1987-06-01     0.0   8.5  34.0  12.5  1987    6
1     1987-06-02     0.0  10.8  35.0  17.0  1987    6
2     1987-06-03     3.1   9.5  37.0  21.0  1987    6
3     1987-06-04     0.0  10.3  37.0  21.0  1987    6
4     1987-06-05     0.0   7.3  36.0  20.0  1987    6
...          ...     ...   ...   ...   ...   ...  ...
10465 2016-04-26     0.0   NaN   NaN   9.0  2016    4
10466 2016-04-27     0.0   NaN  31.0   8.0  2016    4
10467 2016-04-28     0.0   NaN  27.0  10.0  2016    4
10468 2016-04-29     0.0   NaN  28.0   8.0  2016    4
10469 2016-04-30     0.0   NaN  26.0   9.0  2016    4

[10470 rows x 7 columns]

In [ ]:
#Final
print(df_copiaseguridad.head())
print(df_copiaseguridad.tail())
print(df_copiaseguridad.dtypes)

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1987-06-01     0.0   8.5  34.0  12.5  1987    6
1 1987-06-02     0.0  10.8  35.0  17.0  1987    6
2 1987-06-03     3.1   9.5  37.0  21.0  1987    6
3 1987-06-04     0.0  10.3  37.0  21.0  1987    6
4 1987-06-05     0.0   7.3  36.0  20.0  1987    6
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
10465 2016-04-26     0.0   NaN   NaN   9.0  2016    4
10466 2016-04-27     0.0   NaN  31.0   8.0  2016    4
10467 2016-04-28     0.0   NaN  27.0  10.0  2016    4
10468 2016-04-29     0.0   NaN  28.0   8.0  2016    4
10469 2016-04-30     0.0   NaN  26.0   9.0  2016    4
Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object